header {
  font-size: x-large;
}

h1 {
  font-family: "Courier New";
  text-align: center;
}

a {
  padding-right: 50px;
  text-decoration: none;
  color: green;
}

a:visited {
  color: purple;
}

a:hover {
  font-weight: bold;
}

footer {
  text-align: center;
}

.btn {
  background: cyan;
}
